body{

    background-image: url(fondo2.webp);
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;

}

.rickc-137{

    margin-left: 525px;
    margin-top: 100px;

    color:white;

    font-style: normal;

    
}

.botonanterior{

    margin-left: 500px;
    height: auto;
    width: auto;
}