body{

    background-image: url(fondo2.webp);
    background-size: cover;
    background-repeat: no-repeat;

}

.rickc-137{

    position: center;

    margin-top: 100px;

    color:white;

    font-style: normal;

    
}

.botonanterior{

    height: auto;
    width: auto;
}